markdown ::ng-deep {
  div:has(foundation-frame) {
    @apply my-11;
  }

  table,
  p,
  pre {
    @apply my-4;
  }

  table {
    thead,
    tbody > tr > td {
      border: 1px solid rgba(255, 255, 255, 0.12);
    }

    th,
    td {
      @apply p-4;
    }
  }
}
